
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>

    <script type="text/javascript" src= 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script type="text/javascript" src= "{% static 'turn.min.js'  %}"></script>
    <style type="text/css">
      body{
        overflow: hidden;
      }
      #flipbook .page{
        background: white;
      }
      #flipbook .shadow{
      box-shadow: 0 4px 10px #666;
      }
    </style> 

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32"> 
      <h1><b>Aadya's Treasure</b></h1>
      <p><h3>Welcome to my BLOG! </h3></p>
    </header>
  </head>

<body class="w3-light-grey">



  <div>
    <div id="flipbook" style="position:center;">
    <div>
      <!--<img src="{% static 'BaseWallpaper.jpg' %}"width="1000" height="300"> -->
      <img src="https://cdn.pixabay.com/photo/2020/06/19/09/16/fantasy-5316369_960_720.jpg">
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2016/08/08/10/47/watercolour-1578074_960_720.jpg">
    </div>
    <div>
      <h2>Rainbow At My Window</h2>
      <p>runserver, or do you have a proper webserver? Django doesn't usually serve static files at all, and you have to set up your webserver to serve them directly, except when you run manage.py runserver, which does serve static files</p>
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2014/12/16/22/25/woman-570883_640.jpg">
    </div>
    <div>
      <h2>New Begining in Lawrance</h2>
      <p>runserver, or do you have a proper webserver? Django doesn't usually serve static files at all, and you have to set up your webserver to serve them directly, except when you run manage.py runserver, which does serve static files</p>
    </div>
        <div>
      <img src="https://cdn.pixabay.com/photo/2015/02/19/18/15/snow-642454__340.jpg">
    </div>
    <div>
      <h2>Moon</h2>
      <p>runserver, or do you have a proper webserver? Django doesn't usually serve static files at all, and you have to set up your webserver to serve them directly, except when you run manage.py runserver, which does serve static files</p>
    </div>

  </div>
  <script type="text/javascript">
    $("#flipbook").turn({
      width:1350,
      height:300,
      page:1,
      autoCenter:true,
      duration:2000
    })
  </script> 
</body>
</html>
