
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Aadya's Treasure</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <style>
      body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>

    <script type="text/javascript" src= 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script type="text/javascript" src= "{% static 'turn.min.js'  %}"></script>
    <style type="text/css">
      body{
        overflow: hidden;
      }
      #flipbook .page{
        background: white;
      }
      #flipbook .shadow{
      box-shadow: 0 4px 10px #666;
      }
    </style> 

    <style type="text/css">
      p {margin: 0;}
      h2 {text-align: center;}
    </style>

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32"> 
      <h1><b> Aadya's Treasure</b></h1>
      <p><h3><a href="">Welcome to my Page!</a></h3></p>
    </header>

 
  </head>

<body class="w3-light-grey">



  <div>
    <div id="flipbook" style="position:center;">
    <div>
      <!--<img src="{% static 'BaseWallpaper.jpg' %}"width="1000" height="300"> -->
      <img src="https://cdn.pixabay.com/photo/2020/06/19/09/16/fantasy-5316369_960_720.jpg">
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2016/08/08/10/47/watercolour-1578074_960_720.jpg">
    </div>
    <div>
      <h2>Rainbow At My Window</h2>
      <p> &nbsp; &nbsp;  I peered out of my window, and was mesmerized by the beautiful rainbow. </p>
      <p> &nbsp; &nbsp;   It was vibrant and magnificent, attracting the attention of children, little and innocent.</p>
      <br>
      <p> &nbsp; &nbsp;   It was uplifting and bright, undoubtedly a marvelous sight. </p>
      <p> &nbsp; &nbsp;   I wish I could ride it, alas, I only could stand beside it. </p>
      <br>
      <p> &nbsp; &nbsp;   It appeared in the middle of summer, which was bit of a bummer.  </p>
      <p> &nbsp; &nbsp;   Spreading hues in the sky were its seven colors, for me they were no less than seven wonders.  </p>
      <br>
      <p> &nbsp; &nbsp;   Just like how the sun and rain meet to make a beautiful rainbow,  </p>
      <p> &nbsp; &nbsp;   In our life we need to embrace moments of joy and sorrow. </p>
    </div>
    <div>
      <img src="https://cdn.pixabay.com/photo/2014/12/16/22/25/woman-570883_640.jpg">
    </div>
    <div>
      <h2>New Beginning in Lawrence</h2>
      <p> &nbsp; &nbsp;  Magnificent buildings sprawled across a humungous campus, </p>
      <p> &nbsp; &nbsp;  It makes me excited and gush.</p>
      <br>
      <p> &nbsp; &nbsp;   Lawrence School stands tall and high, and the climate is cold.</p>
      <p> &nbsp; &nbsp;   I will learn to become confident and bold. </p>
      <br>
      <p> &nbsp; &nbsp;   Away from family, I will be in the company of nature and friends.</p>
      <p> &nbsp; &nbsp;   And become courageous to face life’s bends</p>
      <br>
      <p> &nbsp; &nbsp;   Positive are the vibes at Lawrence School,</p>
      <p> &nbsp; &nbsp;   Which will give me the freedom to make choices which are super cool.</p>

    </div>
        <div>
      <img src="https://img.freepik.com/free-vector/savanna-forest-dark-night_1308-14305.jpg?w=900&t=st=1656469311~exp=1656469911~hmac=2cc1fa52f85088ee04f85ec8ed3d2c36835d4740cd0388b13310004304a86ab7">
    </div>
    <div>
      <h2>The Gloomy Moon</h2>
      <p> &nbsp; &nbsp;  Sitting under the moonlit sky, I heard a muffled cry.</p>
      <p> &nbsp; &nbsp;  The cry seemed to be coming from somewhere high,</p>
      <p> &nbsp; &nbsp;  So I glanced above and saw the little moon cry.</p>
      <br>
      <p> &nbsp; &nbsp;  This made me very sad, because I couldn’t make the beautiful moon glad.</p>
      <p> &nbsp; &nbsp;  I tried to soothe the moon by making it happy, but instead it got very snappy.</p>
      <br>
      <p> &nbsp; &nbsp;  When I asked the moon the cause of its despair,</p>
      <p> &nbsp; &nbsp;  It lamented that its life is so unfair.</p>
      <p> &nbsp; &nbsp;  It wanted to shine as bright as the sun,</p>
      <p> &nbsp; &nbsp;  And its gentle gleam was no fun.</p>
      <p> &nbsp; &nbsp;  .....</p>
      <br>
    </div>


    <div>
      <img src="https://img.freepik.com/free-vector/savanna-forest-dark-night_1308-14305.jpg?w=900&t=st=1656469311~exp=1656469911~hmac=2cc1fa52f85088ee04f85ec8ed3d2c36835d4740cd0388b13310004304a86ab7">
    </div>
    <div>
      <h2>The Gloomy Moon....</h2>
      <p> &nbsp; &nbsp;  It had asked the sun for some of its light</p>
      <p> &nbsp; &nbsp;  But the jealous sun had denied the request outright.</p>
      <p> &nbsp; &nbsp;  “The sun might be the supreme light,” I told the moon,</p>
      <p> &nbsp; &nbsp;  “But you are the one that takes away all the gloom.”</p>
      <br>
    </div>

    <div>
      <img src="https://img.freepik.com/free-photo/pathway-middle-green-leafed-trees-with-sun-shining-through-branches_181624-4539.jpg?t=st=1656468855~exp=1656469455~hmac=ea54b120717d916994a7a6a5dfb7d1e3fc872101454191beb8f10671a73b3aa4&w=740">
    </div>
    <div>
      <h2>Nurture Nature (Published in Story Mirror)</h2>
      <p> &nbsp; &nbsp;  Nature is beauty, Nature is Earth,</p>
      <p> &nbsp; &nbsp;  In nature, lies my worth.</p>
      <br>
      <p> &nbsp; &nbsp;  Nature gives us life, and helps us to survive.</p>
      <p> &nbsp; &nbsp;  Nothing can be more colorful than the colors of nature,</p>
      <p> &nbsp; &nbsp;  Nothing can be more fruitful with constant care and nurture.</p>
      <br>
      <p> &nbsp; &nbsp;  Nature is all around us, yet has a lot more to be seen.</p>
      <p> &nbsp; &nbsp;  It gives us food for our body, and keeps our mind healthy and clean.</p>
      <p> &nbsp; &nbsp;  .....</p>
    </div>
        <div>
      <img src="https://img.freepik.com/free-photo/pathway-middle-green-leafed-trees-with-sun-shining-through-branches_181624-4539.jpg?t=st=1656468855~exp=1656469455~hmac=ea54b120717d916994a7a6a5dfb7d1e3fc872101454191beb8f10671a73b3aa4&w=740">
    </div>
    <div>
      <h2>Nurture Nature.... (Published in Story Mirror)</h2>
      <p> &nbsp; &nbsp;  Nature gives shade, which will no longer be made.</p>
      <p> &nbsp; &nbsp;  Because we are destroying it every second, </p>
      <p> &nbsp; &nbsp;  Without realizing that its end is our own end.</p>
      <br>
      <p> &nbsp; &nbsp;  One little flower, has Immense power,</p>
      <p> &nbsp; &nbsp;  One stone hurled, can change the world.</p>
      <p> &nbsp; &nbsp;  Let’s wake up before nature puts us to sleep forever,</p>
      <p> &nbsp; &nbsp;  Let’s pledge to save our environment with dedicated endeavor.</p>
    </div>


    <div>
      <img src="https://img.freepik.com/free-photo/landscape-shot-beautiful-cholatse-mountains-body-water-khumbu-nepal_181624-24825.jpg?w=996&t=st=1656469118~exp=1656469718~hmac=cf90374a52fd280af591c015083f2a415be86a20cdfe8eb9a428d3ed5354f8a8">
    </div>
    <div>
      <h2>Beyond the Box Poetry Contest</h2>
      <h2>(Winner 11-14yrs age group)</h2>
      <p> &nbsp; &nbsp;  It was a sight to behold, but the atmosphere was so cold.</p>
      <p> &nbsp; &nbsp;  All around me was a bed of snow, because of which I got a frostbite on my toe.</p>
      <br>
      <p> &nbsp; &nbsp;  Nature was resplendent in all its might, when all of a sudden I saw somebody flying a kite.</p>
      <p> &nbsp; &nbsp;  It said its winter, when friends indulge in light banter.</p>
      <br>
      <p> &nbsp; &nbsp;  The landscape was marvelous, gentle and harmless.</p>
      <p> &nbsp; &nbsp;  The entire area was white, pristine and bright.</p>
      <br>
      <p> &nbsp; &nbsp;  It shone in the faint sunshine, I thought it to be a splatter of red wine.</p>
      <p> &nbsp; &nbsp;  I wondered if it was in the iridescent snow spreading hues of the rainbow,</p>
      <p> &nbsp; &nbsp;  Stomping on it I realized, it was the threatening phenomenon of red snow.</p>
    </div>

        <div>
      <img src="https://img.freepik.com/free-vector/old-man-senior-character-with-cane-walking-with-little-girl-doggy-outside-retro-cartoon-poster-vector-illustration_1284-19772.jpg?w=826&t=st=1656469588~exp=1656470188~hmac=ec613f2604cc79ef744402dfa02fffb8d247538446e888f1365f564c3c565b6b">
    </div>
    <div>
      <h2>My Gallant Grandfather</h2>
      <p> &nbsp; &nbsp;  My grandfather, my hero.</p>
      <p> &nbsp; &nbsp;  He is always sneaking, and always peaking,</p>
      <p> &nbsp; &nbsp;  He is my hero.</p>
      <br>
      <p> &nbsp; &nbsp;  He brings me gifts, and buys me toys lifts.</p>
      <p> &nbsp; &nbsp;  He gives me cakes, which he bakes.</p>
      <br>
      <p> &nbsp; &nbsp;  He is funny, and buys me a bunny.</p>
      <p> &nbsp; &nbsp;  We go to the mall, and he buys me a doll.</p>
      <br>
      <p> &nbsp; &nbsp;  He bought me a phone, which shone.</p>
      <p> &nbsp; &nbsp;  He is the best, So I love him the most.</p>
    </div>


  </div>
  <script type="text/javascript">
    var flipbookEL = document.getElementById('flipbook');

    window.addEventListener('resize', function (e) {
      flipbookEL.style.width = '';
      flipbookEL.style.height = '';
      $(flipbookEL).turn('size', flipbookEL.clientWidth, flipbookEL.clientHeight);
    });

    $(flipbookEL).turn({
        autoCenter: true
    });
  </script> 
</body>
</html>
